/* Style for Movie Rating Site */


/* Style our Movie Rating logo. */

.navbar-header img {
    width: 30px;
    float: left;
    margin-top: 7px;
    margin-right: 7px;
}

/* all-user listing */


div.melon-summary .price {
    margin: 0.5em 0;
    font-size: 150%;
    font-weight: bold;
}



/* login form */

.form-signin {
  max-width: 330px;
  margin: 5em auto 0 auto;  /* TRBL */
}

