<!doctype html>
<html>
<head>
  <title>Ratings</title>
</head>

<body>
    <form action="/logout">
        <input type="submit" value="Logout">
    </form>

    <a href="login.html"> LOGIN </a>


    {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
        {% for message in messages %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

  <h1>Our Ratings</h1>
  <hr>

  {% block content %} put your content here {% endblock %}

</body>
</html>