{% extends 'base.html' %}
{% block content %}

    <h2>Login</h2>

    <form class="form-signin" action="/logged_in" method="POST">
        <h2 class="form-signin-heading">Please Login</h2>

        <div class="form-group">
            <label>Enter your email: <input type="text" name="email"></input></label>
        </div>

        <div class="form-group">
            <label>Enter your password: <input type="text" name="password"></input></label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
        </button>
        
    </form>

{% endblock %}