{% extends 'base.html' %}
{% block content %}

    <h2>Details for Movies #{{ display_movie_id }}</h2>
      Title: {{ display_movie_title }}
    <ul>
      <li>Average Rating: 
      </li>
      <li> 
        {% if user_rating %}
          You rated this movie {{ user_rating }}
        {%else %}
          You did not rate this movie, yet.
        {% endif %}
      </li>

    </ul>
    <div class ="new_rating">
    {% if 'current_user' in session %}
        <form action="/new_rating" method="POST">
            <input type="number" min="1" max="5" name="new_rating" placeholder="1-5"> 
            <input type="hidden" name="movie_id" value="{{ display_movie_id }}">
            <input type="submit" value="Submit">
        </form>
    {% endif %}
    </div>

    <div class ="new_rating">
      <p>Average rating: {{ average }}</p>
        {% if prediction %}
      <p>We predict you will rate this movie {{ prediction }}.</p>
        {% endif %}
    </div>

  <table>
      <tr>
        <th> Ratings </th>
      </tr>
    {% for rating in movie_rating %}
      <tr>
        <td>
            {{ rating.score }}
        </td>
      </tr>
    {% endfor %}
  </table>

{% endblock %}