{% extends 'base.html' %}
{% block content %}

    <h2>Details for Movies</h2>
      Title: {{ movie.title }}
        {% if "current_user" in session %}
          <h2>Your Rating</h2>
            {% if user_rating %}
              <p>You currently rate this a {{ user_rating.score }}</p>
            {%else %}
              <p>You did not rate this movie, yet.</p>
            {% endif %}
             <form action="/new_rating" method="POST">
            <input type="number" min="1" max="5" name="new_rating" placeholder="1-5"> 
            <input type="hidden" name="movie_id" value="{{ movie.movie_id }}">
            <input type="submit" value="Submit">
        </form>
        {% endif %}

        <p>Average rating: {{ average }}</p>
        {% if prediction %}
             <p>We predict you will rate this movie {{ prediction }}.</p>
         {% endif %}

          {% if eye_rating %}
            <h2>The Judgmental Eye</h2>
              <p>Eye Rating: <b>{{ eye_rating }}</b></p>
              {% if difference %}
                  <p>Difference: <b>{{ difference }}</b></p>
              {% endif %}
              {% if beratement %}
                  <p>The Eye says: <b>{{ beratement }}</b></p>
              {% endif %}
          {% endif %}

      {% if movie.ratings %}
      <table>
          <tr>
            <th> Ratings </th>
          </tr>
        {% for rating in movie.ratings %}
          <tr>
            <td>
              <a href="/users/{{ rating.user_id }}">{{ rating.user_id }}</a>
              rated {{ rating.score }}
            </td>
          </tr>
        {% endfor %}
      </table>
      {% endif %}

{% endblock %}