{% extends 'base.html' %}
{% block content %}

    <h2>Movies</h2>
    <div id="movies-list" class="row">
      {% for movie in movies %}
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 melon-summary">
        <div class="well">
              <a href="/movies/{{ movie.movie_id }}">
                {{ movie.title }}
              </a>
              </div>
        </div>
      {% endfor %}
    </div>

{% endblock %}

<!-- Add a Jinja for-loop to sort the input list of movie titles by ABC? 
Or should we do this with SQLAlchemy in the server.py file? -->