{% extends 'base.html' %}
{% block content %}

    <h2>Sign-Up</h2>

    <form class="form-signin">
        <h2 class="form-signin-heading">Please Sign Up</h2>
        
        <div class="form-group">
        <label>Enter your email: <input type="text" name="email"></input></label>

        <div class="form-group">
        <label>Create your password: <input type="text" name="password"></input></label>
        </div>

        <div class="form-group">
        <label>Enter your age: <input type="text" name="age"></input></label>
        </div>

        <div class="form-group">
        <label>Create your zipcode: <input type="text" name="zipcode"></input></label>
        </div>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign In
        </button>
    </form>

{% endblock %}