{% extends 'base.html' %}
{% block content %}

    <h2>Sign-Up</h2>

    <form>
        
        <label>Enter your email: <input type="text" name="email"></input></label><br><br>
        <label>Create your password: <input type="text" name="password"></input></label><br><br>
        <label>Enter your age: <input type="text" name="age"></input></label><br><br>
        <label>Create your zipcode: <input type="text" name="zipcode"></input></label><br><br>

        <input type="submit" value="Submit">
    </form>

{% endblock %}